:root {
    --base: #F6F8FA;
    --font: #000;
    --card: #F6F8FA;
    --border: rgb(185, 185, 185);

    --little: 14px;
    --medium: 16px;
    --big: 24px;
}

[data-theme="dark"] {
    --base: #0D1117;
    --font: #fff;
    --card: #161B22;
    --border: rgb(50, 50, 50);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--base);
    color: var(--font);
}


#main {
    width: 100vw;
    height: 100vh;

 
  
}


#container {
    font-family: 'Noto Sans';
    font-weight: 300;

    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 30px;
}

h1 {
    font-weight: lighter;
    font-weight: 200;
    font-size: var(--big);
    margin-top: 30px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 308px;
    height: 220px;
    background: var(--card);
    border-radius: 5px;
    border: 1px var(--border) solid;
    padding: 16px;

    margin-top: 10px;

}

.textfield {
    font-size: var(--little);
}

#login {
    width: 100%;
    padding: 8px 16px;
    background: #1F883D;
    color: white;
    
    border: none;
    border-radius: 6px;

    margin-top: 0px;

    cursor: pointer;
}

a i {
    
    font-size: 48px;
    color: var(--font);
}

input {
    margin: 10px 0 16px 0;
    width: 100%;
    padding: 7px 12px;
    border: 1px solid ;

    background: var(--base);
    color: var(--font);
    border: 1px solid var(--border);
    border-radius: 6px;
    outline: none;
}

.create {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 16px;
    border-radius: 6px;
    
    border: 1px solid var(--border);

    width: 308px;
    height: 55px;

    font-size: 14px;
    margin-top: 16px;
}

ul {
    padding: 16px 16px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}

ul > li {
    font-size: 12px;
     margin: 10px;
}

a {
    text-decoration: none;
    color: #2F81f7;
}

#contact {
    color: #656D76;
}

a:hover, #contact:hover{
    color: #2F81f7;
    text-decoration:underline;
}

#forgot {
    font-size: 12px;
    margin-left: 100px;
}

input:focus{
    border:2px solid #0969DA;
}


#DarkLight {
    background: var(--base);
    padding: 10px;
    border-radius: 50%;
    border: 1px solid var(--border);
    cursor: pointer;

    position: absolute;
    right: 30px;
    top: 20px;
}

svg {
    color: var(--font);
}

